@import "tailwindcss";


@theme {
  --color-red-500: hsl(10, 79%, 65%);
  --color-blue-300: hsl(186, 34%, 65%);

  --color-brown-950: hsl(25, 47%, 15%);
  --color-brown-400: hsl(28, 10%, 53%);
  --color-red-100: hsl(26, 66%, 93%);
}